.git
.github
node_modules
vendor
tests
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
*.sqlite
.phpunit.cache
.phpunit.result.cache
composer.json.bak
